<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.upupzhu.mapper.UpMeMapper">

    <resultMap id="userMap" type="com.upupzhu.pojo.User">
        <id column="userId" property="userId"/>
        <result column="userName" property="userName"/>
        <result column="userGender" property="userGender"/>
        <result column="userAge" property="userAge"/>
        <result column="userPic" property="userPic"/>
        <result column="userSignature" property="userSignature"/>
        <result column="swanId" property="swanId"/>
        <result column="nickName" property="nickName"/>
    </resultMap>
    <!-- 根据设备标识找用户信息 -->
    <select id="swanUser" resultMap="userMap">
      SELECT *
      FROM user
      WHERE swanId = #{swanId}
    </select>
    <!-- 根据用户Id找用户信息 -->
    <select id="user" resultMap="userMap">
      SELECT *
      FROM user
      WHERE userId=#{userId}
    </select>

    <insert id="addUser" useGeneratedKeys="true" keyProperty="userId" parameterMap="userMap">
        INSERT INTO `upupzhu`.`user` (
          `userName`,
          `userGender`,
          `userAge`,
          `userPic`,
          `userSignature`,
          `swanId`,
          `nickName`
        )
        VALUES
          (
            #{nickName},
            #{userGender},
            '0',
            #{userPic},
            '主人还没有写过我=͟͟͞͞(꒪⌓꒪*)',
            #{swanId},
            #{nickName}
          ) ;


    </insert>

</mapper>